.container{
    display: flex;
    justify-content: space-between;
    gap:100px
}
.imageContainer{
    flex:1;
    position: relative;
    height: 500px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex:1
}
.formContainer>input, .formContainer>textarea{
    background-color: var(--bgSoft);
    border:none;
    padding: 20px;
    outline: none;
    color: var(--text);
    border-radius: 5px;

}
.formContainer>input::placeholder, .formContainer>textarea {
    color: gray;
}
.button{
    background-color: var(--btn);
    color: var(--text);
    border:none;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 5px;
    font-weight: 600;
}
@media (max-width: 768px){
    .container{
        flex-direction: column
    }
    
}